.banner {
  margin-bottom: 10px;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-section2 {
  background-color: rgba(247, 216, 216, 0.527);
  display: flex;
  width: 960px;
  align-items: center;
  border: 10px solid var(--brown-color);
  max-height: 398px;
  padding-top: 2px;
}

.info-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
} 

.info-wrapper p {
  max-width: 600px;
  padding: 0 55px 25px 55px;
  line-height: 28px;
  text-align: left;
  color:white;
}

.about-us-section2 img {
  max-height: 400px;
}

.info-divider {
  background-color: var(--brown-color);
  height: 10px;
}
