img {
  max-width: 100px;
}

input {
  display: none;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

body {
  color: ivory;
  background-color: brown;
}
