main { 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.question-bubble {
  background-image: url("../img/texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(22, 3, 3, 0.753);
  background-blend-mode: darken;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.678);
  margin: 20px 0;
  width: 880px;
  text-align: center;
}

.question-bubble img {
  width: 375px;
  height: 250px; 
  padding: 10px 30px;
}

.img-row {
  display: flex; 
}

.question-bubble img:hover {
  opacity: 0.75;
}

button:hover {
  cursor: pointer;
}

.quiz-header {
  background-image: url("../img/ta_4h.jpg");
  width: 960px;
  height: 442px;
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  align-items: center;
  text-align: center;
}

.header-text {
  margin-top: 300px;
  color: rgb(236, 218, 218);
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
  text-transform: capitalize;
}

input {
  display: none;
}

label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{
  background-image: url("../img/metalframe.png");
  background-size: cover;
  background-repeat: no-repeat;
}
