img {
  max-height: 200px;
}

.answer-container {
  display: inline-block;
}

.answer-container p {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin: 0;
}

input {
  display: none;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

body {
  color: ivory;
  background-color: brown;
}
