#resultExplain h1 {
    font-family: 'Quantico', serif;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#resultExplain {
    text-align: center;
    height: 205px;
    width: 960px;
    background-image: url("../img/shortbanner.jpg");
    background-size: cover;
    margin: 0;
  }
  
#resultExplain h1 {
    font-size: 45px;
    margin-top: 100px;
  }
  

h2 {
    font-size: 38px;
}
div.resultWrapper {
    background-image: url("../img/texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(22, 3, 3, 0.753);
    background-blend-mode: darken;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.678);
    margin: 0px auto 40px auto;
    width: 880px;
    text-align: center;
} 

div.titleWrapper {
    align-items: center;
}

.resultWrapper img {
    display: block;
    margin:0 auto;
    width: 400px;
    border-radius: 10%;
}

.resultWrapper p {
    font-size: 22px;
    padding-top:20px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button.remover {
    font-size:14px;
    background-color: var(--offwhite-color);
    color: var(--red-color);
    padding: 4px 13px;
    margin: 0 0 12px 0;
}

button:hover {
    opacity: 0.45;
}