:root {
  --red-color:#853422;
  --brown-color: #281a14;
  --lightbrown-color: #c47263;
  --offwhite-color: #f3e3e0;
}

body {
  background-color: #332323;
  background-image: url("../img/cosmos.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  font-family: 'Quantico', serif;
  color: var(--offwhite-color);
}

.banner {
  text-align: center;
  height: 205px;
  width: 960px;
  background-image: url("../img/shortbanner.jpg");
  background-size: cover;
}

.banner h1 {
  font-size: 45px;
  margin-top: 100px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: var(--gray-color);
  padding: 5px;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--blue-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header {
  background-color: var(--brown-color);
  text-align: center;
  height: 100px;
  box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, .25);
}

header > div {
  max-width: 960px;
  margin: auto;
  padding-top: 5px;
}

.logo {
  max-width: 320px;
  float: left;
  padding-top: 15px;
}

header h1 {
  font-size: 30px;
  color: white;
  display: inline;
}

nav {
  display: flex;
  float: right;
  margin-top: 50px;
}

nav a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 0 10px;
  padding: 15px 15px 10px 15px;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  background-color: rgb(193, 223, 248);
}

nav a.active {
  background-color: var(--red-color);
}

button {
  background-color: var(--brown-color);
  border: whitesmoke;
  border-radius: 5px;
  color: whitesmoke;
  margin: 30px 0;
  max-height: 70px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Quantico', serif;
  font-size: 2em;
}

button:hover {
  cursor: pointer;
}

.footnotes {
  text-align: center;
  color: whitesmoke;
  font-size: 12px;
  background-color:var(--brown-color);
  padding: 1rem;
  height: 30px;
}
